<div id="main-content">
  <div class="welcome contacts">

    <section class="white-section inner-contacts">
      <div class="container">
        <div class="col-md-6 col-sm-12">
          <div class="h3 margin-b-50"><%= t('have_a_question_html') %></div>

          <div class="margin-b-50">
            <p><%= content_tag :span, t('any_questions_email'), class: 'lightgrey-color' %></p>
            <%= content_tag :span, link_to('info@heart.org.ua', 'mailto:info@heart.org.ua', class: 'red-color') %>
          </div>

          <div class="margin-b-50">
            <p><%= content_tag :span, t('press_questions'), class: 'lightgrey-color' %></p>
            <%= content_tag :span, link_to('press@heart.org.ua', 'mailto:press@heart.org.ua', class: 'red-color') %>
          </div>

          <div class="margin-b-50">
            <p><%= content_tag :span, t('call_soul'), class: 'lightgrey-color' %></p>
            <%= content_tag :span, link_to('+38 066 978 50 58', 'skype:+380669785058', class: 'red-color')%><br>
            <%= content_tag :span, link_to('+38 063 300 22 93', 'skype:+380633002293', class: 'red-color')%>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="image-wrapper">
            <%= image_tag 'space.jpg' %>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
