<div id="main-content">
  <div class="devise signin">

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
          <div class="form-wrapper">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

              <h2 class="text-uppercase margin-b-20"><%= t('password_reset') %></h2>

              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div class="form-group">
                <%= f.password_field :password, placeholder: t('password'), class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password_confirmation, placeholder: t('password_confirmation'), class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit t('reset'), class: 'btnn btnn-red text-uppercase padding-10-tops' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
